.Rproj.user/B120B382/rmd-outputs
.Rproj.user/B120B382/saved_source_markers
.Rproj.user/B120B382/pcs/files-pane.pper
.Rproj.user/B120B382/pcs/source-pane.pper
.Rproj.user/B120B382/pcs/windowlayoutstate.pper
.Rproj.user/B120B382/pcs/workbench-pane.pper
.Rproj.user/B120B382/sources/per/t/6E17F540
.Rproj.user/B120B382/sources/per/t/6E17F540-contents
.Rproj.user/B120B382/sources/per/t/ADBE72C1
.Rproj.user/B120B382/sources/per/t/ADBE72C1-contents
.Rproj.user/B120B382/sources/prop/7B2D7E98
.Rproj.user/B120B382/sources/prop/030DF893
.Rproj.user/B120B382/sources/prop/49FBE4B0
.Rproj.user/B120B382/sources/prop/44903258
.Rproj.user/B120B382/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.RData
.Rhistory
UPP_model.Rproj
